body {
  margin: 0;
  text-align: center;
  background-color: #E8F9FD;
}

h1 {
  margin-top: 0;
  font-family: 'Handlee', serif;
  color: #694E4E;
  font-size: 90px;
  margin-bottom: 20px;
}

h2 {
  margin-top: auto;
  color: #694E4E;
  padding-bottom: 10px;
}

h3 {
  color: #694E4E;
  font-size: 50px;
  font-family: 'Handlee', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
}

.caption {
  font-family: 'Handlee', serif;
  font-size: 50px;
  color: #694E4E;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.Photo {
  width: 150px;
  height: 150px;
}

div {
  background-color: #E8F9FD;
  color: #AC7D88;
}

p {
  font-family: 'Neucha', cursive;
  font-size: 20px;
}

.name {
  color: black;
  background-color: #6867AC;
}

a {
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #E8F9FD
}

.code {
  width: auto;
}

.code-2 {
  width: auto;
  padding-bottom: 0%;
  margin-bottom: auto;
}

.code-3 {
  width: 120px;
  margin-top: 8%;
}

.top-container {
  background-color: #E8F9FD;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #6867AC;
  padding: 20px 0 20px;
}

.pro {
  text-decoration: underline;
  text-decoration-color: black;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  margin-left: 400px;
  top: 50px;
}

.middle-cloud {
  margin-right: 800px;
  margin-bottom: center;
  bottom: 300px
}

.cloud2 {
  margin-right: 200%;
  padding-top: 20px 0 20px;
}

.middle-cloud-two {
  margin-left: 700px;
  margin-bottom: center;
}

.btn {
  background: #A267AC;
  background-image: -webkit-linear-gradient(top, #A267AC, #CE7BB0);
  background-image: -moz-linear-gradient(top, #A267AC, #CE7BB0);
  background-image: -ms-linear-gradient(top, #A267AC, #CE7BB0);
  background-image: -o-linear-gradient(top, #A267AC, #CE7BB0);
  background-image: linear-gradient(to bottom, #A267AC, #CE7BB0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Handlee', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6867AC;
  background-image: -webkit-linear-gradient(top, #6867AC, #6867AC);
  background-image: -moz-linear-gradient(top, #6867AC, #6867AC);
  background-image: -ms-linear-gradient(top, #6867AC, #6867AC);
  background-image: -o-linear-gradient(top, #6867AC, #6867AC);
  background-image: linear-gradient(to bottom, #6867AC, #6867AC);
  text-decoration: none;
}
